[Unit]
Description=Airflow scheduler daemon
[Service]
PIDFile={{ airflow_home }}/scheduler.pid
User=root
Group=root
Type=simple
ExecStart=/bin/bash -c 'export AIRFLOW_HOME={{ airflow_home }}; airflow scheduler --pid {{ airflow_home }}/scheduler.pid'
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure
RestartSec=42s
PrivateTmp=true
[Install]
WantedBy=multi-user.target
